$appBackgroundColor: rgb(38, 37, 41);
$buttonColor: rgb(30, 133, 110);

.app {
    height: 900px;
    min-height: 850px;
    max-height: 300000px;
    max-width: 2200px;
    background-color: $appBackgroundColor;

    input {
        padding: 0 5px;
        height:40px;
        width: 600px;
        border-radius: 5px;
    };

    input:focus {
        padding: 0 5px;
        height:40px;
        width: 600px;
        outline: 5px solid $buttonColor;
    };

    .app__header {
        position: relative;
        color: $buttonColor;
        text-align: left;
        padding-top: 100px;
        padding-bottom: 20px;
    };

    button {
        margin-left: 10px;
        height:40px;
        width: 100px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color:$buttonColor;
    };

    img {
        width: 85%;
        border-radius: 10px;
    };

    .app__search-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    };

    .app__search-result {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    };

    .app__film {
        display: flex;
        flex-direction: column;

        height: 560px;
        width: 380px;
        color: white;
        background-color: rgb(18, 22, 22);
        border-radius: 10px;
        border: 3px solid $buttonColor;
    };
}