<div class="app">
    <div class="app__search-container">
        <h1 class="app__header">FilmSearching ...</h1>
        <div class="app__search-wrapper">
            <input type="text" [(ngModel)]="inputValue" placeholder="Enter film">
            <button (click)="getFilms()">Search</button>
        </div>
    </div>
    <div *ngIf="filmInfo" class="app__search-result">
        <div *ngFor="let film of filmInfo" class="app__film">
            <div class="search-result__headerFilm">
                <span>{{film.nameRu}}</span>
                <span>{{film.year}}</span>
            </div>
            <div class="search-result__filmInfo">
                <img src={{film.posterUrlPreview}}>
            </div>
        </div>
    </div>
</div>